html{
    font-size: 62.5%;
    box-sizing: border-box;
}


body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;

}

#root{
    height: 100%;
}


.grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 6rem 1fr 7rem;
    height: 100%;
    width: 100%;
}

.header{
    grid-area: 1/1/2/4;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.header__title{
    font-family: 'Pacifico', cursive;

}

.brand{
    width: 60rem;
}

.brand a{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;

}

.brand a:hover{
    color:yellow;
    text-decoration: none;
}

.header-links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Orbitron', sans-serif;
    align-items: center;
}

.header-links a{
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.header-links a:hover{
    color:yellow;
    text-decoration: none;
}

.header-links button{
    background-color: orange;
    padding: 0.8rem
}

.main{
    grid-area: 2/1/3/4;
    background-color:white;
    color: purple;
}


.footer{
    grid-area: 3/1/4/4;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;

}

.footer__profile-pic{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 12px;
}

a{
    text-decoration: none;
}

a:hover{
    color: red;
}
/* Main Screen */

.sneaker{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0.2rem;
    margin: 0.2rem;
}

.sneaker a{
    text-decoration: none;
}

.sneaker img{
    display: flex;
    justify-content: space-around;
}

.homePage{
    background-image: url(https://i.postimg.cc/yYB44WjC/My-Post-1.png);
    background-position: center center;
    margin: 0;
}

.list-sneaker{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.list-sneaker li{
    list-style-type: none;
    padding: 2rem;
    flex: 0 1 34rem;
    margin: 2rem;
    margin-left: 0;
    margin-right: 3rem;
    height: 40rem;
    width: 26rem;
    border: 0.2rem solid black;
    border-radius: 15%;
    background-color: #fcfcfc;
    text-decoration: nones;
}

.list-sneaker a:hover{
    text-decoration: none;
}



.sneaker-image{
    width: 22rem;
    max-height: 30rem;

}

.list-sneaker img{
    display: flex;
    justify-content:space-around;
}

.sneaker-name{
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(0, 102, 255);
    text-align: center;
    padding: 0.2rem;
}

.sneaker-name a{
    color: white;
    text-decoration: none;


}

.sneaker-name a:hover{
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.sneaker-brand{
    font-size: 1.2rem;
    font-family: 'Orbitron', sans-serif;
    color: blue;
}

.sneaker-price{
    font-size: 2rem;
    color: gray;
    display: flex;
    justify-content: space-around;
    background-color: rgb(51, 204, 255);
    padding: 0.5rem;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    transition: 0.7s;
    border-radius: 5.5rem;
}

.sneaker-price:hover{
    background-color: orange;
}

/*Side bar section*/

.brand button{
    font-size: 3rem;
    padding: .5rem;
    background: none;
    color: #ffffff;
    border: none;
    cursor: pointer;

}

.sidebar{
    position: fixed;
    transition: all .5s;
    transform: translateX(-30rem);

    width: 30rem;
    background-color: rgb(255, 51, 0);
    height: 100%;
    font-family: 'Anton', sans-serif;
    padding: 2rem;
}

.sidebar__info-phone{
    display: flex;
    justify-content: space-between;
}

.sidebar__name{
    font-family: 'Red Rose', cursive;
    font-size: 3rem;
}

.sidebar__info-email{
    box-sizing: border-box;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
    padding: 0.4rem;
    text-decoration: none;
    border-radius: 1.5rem;
    background-color: rgb(0, 102, 153);
}

.sidebar__info-email a{
    font-size: 0.8rem;
    text-decoration: none;
}


.sidebar__info-email:hover{
    background-color: rgb(0, 204, 153);
    color:white;
    transition: 0.7s;

}

.sidebar__git-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 102, 153);
    text-align: center;
    border-radius: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
    color: white;
}

.sidebar__git-info:hover{
    text-decoration: none;
    background-color: rgb(0, 204, 153);
    transition: 0.7s;
}

.sidebar__git-info img{
  width: 10rem;
  height: 10rem;

}

.close-button{
    grid-area: 1/1/2/4;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.main-body-contact{
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    border-radius: 4rem;
    width: 15rem;
    font-size: 2rem;

}


.sidebar div{
    padding: 1rem;
}


.sidebar__title{
    padding: 2rem;
    font-size: 2rem;
    background-color: white;
    color: black;
    border-radius: 2.5rem;
}


.sidebar__info{
    padding: 2rem;
    font-size: 2rem;
    background-color: white;
    color: black;
    border-radius: 2.5rem;
}

.sidebar li{
    height: 5rem;
    /* border-top: 0.2rem white solid; */
    font-size: 2.5rem;
    text-align: center;
}

.sidebar h3{
    text-align: center;
}

.sidebar.open{
    transform: translateX(0);

}

.sidebar-close-button{
    /* border-radius: ; */
    border: 0.1rem black solid;
    color: red;
    width: 5rem;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    align-items: center;
}

/*Sneaker details*/
.details-page{
    align-self: center;
    background-image: url(https://i.postimg.cc/JhZFLjrv/My-Post-1.png);
    /* filter: blur(3px); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-position: center center;
    opacity: 0.1rem;
    height: 100rem;
    margin: 0;
    margin-top: -1rem;
}

.details-page a{
    color: white;
    text-decoration: none;
}

.details-page a:hover{
    background-color: white;
    color: black;
}

.details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    height: 100%;
    background-color: lightblue;
    border-radius: 3rem;
    border: 0.7rem solid #0033cc;
    margin: 2.5rem;
    filter: drop-shadow(0.3rem 0.3rem 4rem #0033cc);
}

.details-image{
    flex: 2 3 50rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 2rem;
    width: 45rem;
    /* background-color: white; */
    padding: 2rem;
}

.details-image img{
    /* width: 35rem; */
    max-height: 100%;
    margin: 2rem;
    /* background-color: white; */
}

.details-info{
    flex: 1 1 60rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.8rem;
    color: white;
    font-weight: bold;
    padding: 2rem;
    background-color:  rgb(0, 102, 153);
    border-radius: 3rem;
    border: 0.3rem solid #0033cc;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.details-info b{
    color: white;
    font-size: 2rem;
}

.price-tag{
    font-size: 1.8rem;
    color: black;
    background-color: green;
    border: 0.3rem solid #0033cc;
    padding: 0.5rem;
    border-radius: 3rem;
    margin: 1rem;
}

.details-action{
    flex: 1 1 30rem;
}

.details-info ul, .details-action ul{
    list-style-type: none;
    padding: 0;
}

.details-info li, .details-action li{
    margin-bottom:  1rem;
}

.back-to-home{
    padding: 1rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
    background-color: #ff6600;
    width: 18rem;
    margin: 1rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid #0033cc;
    color: white;
}

.back-to-home a{
    color: white;

}

.back-to-home:hover{
    background-color: white;
    color:black;
}

.details-action{
    border: 0.3rem solid #0033cc;
    border-radius: .5rem;
    background-color:  rgb(0, 102, 153);
    font-family: 'Orbitron', sans-serif;
    font-size: 2.3rem;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}

.details-action ul li:last-child{
    display: flex;
    flex-direction: column;
}

.details-action button{
    padding: 1rem;
    border: .1rem;
    border-radius: 5rem;
    color: black;
}

.details-action button:hover{
    background-color: orange;
}

.drop-down-sizes{
    color: black;
}

/*Shopping cart*/

.button-add-cart{
    padding: 1rem;
    border: .1rem;
    border-radius: .5rem;
}

.button-add-cart:hover{
    background-color: orange;
}

.cart{
    /* display: flex; */
    flex-wrap: wrap;
    /* margin: 2rem; */
    align-items: flex-start;
    margin-top: -1rem;
    background-image: url(https://i.postimg.cc/1X1xWMD1/cart.png);
    background-size: cover;
    height: 120rem;
    width: 100%;



}

.cart-list{
    flex: 3 1 50rem;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: space-around;
    /* background-color: teal; */
}

.cart-action{
    /* flex: 3 1 20rem; */
    background-color: lightgreen;
    padding: 2rem;
    border: .3rem #175c1c solid;
    filter: drop-shadow(0.2rem 0.2rem 2rem #175c1c);
    font-family: 'Orbitron', sans-serif;
    border-radius: 1rem;
    margin: 2rem;
    /* width: 60rem; */
}

.cart-action__shopping-cart{
    color: black;
    font-size: 2.8rem;
    font-weight: bolder;

}

.empty-cart{
    background-color: white;
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-weight: bold;
}

.cart-action-root{
    display: flex;
    justify-content: space-around;
}

.cart-action div{
    display: flex;
    justify-content: space-around;
}

.cart-action_subtotal{
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.cart-action_button{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.cart-list__title{
    background-color: #1384e8;
    color: white;
    font-weight: bold;
    border:0.3rem solid blue;
    padding: 2rem;
    width: 48rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
}

.cart-list__title-div{
    display: flex;
    justify-content: space-around;
}

.cart-remove{
    color: white;
    background-color:#e05a5e ;
}

.cart-remove:hover{
    background-color:#db0d13 ;
}

.cart-component div{
    display: flex;
    justify-content: space-around;}

.cart-list-container {
    padding: 1rem;
    list-style-type: none;
    width: 50rem;
}
.cart-list-container li:first-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
}

.cart-list-container li{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
    /* border-bottom: .1rem black solid; */
    border-top: .1rem black solid;
    padding: 1rem;
    background-color: white;
    color: black;
    font-size: 1.3rem;
}

.cart-name__size{
    color: blue;
}

.cart-list-container a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

.cart-list-container li:first-child{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart-list-container li img{
    max-width: 10rem;
    max-height: 10rem;

}

.cart-image{
    flex: 1 1;

}

.cart-name{
    flex: 8 1;
    font-size: 2rem;
    text-align: center;
}

.cart-price{
    flex: 1 1;
    font-weight: bold;
    text-align: right;
    color: darkgreen;

}


/* SIGN IN PAGE FORM*/
.button.primary{
    background-color: orange;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.button.secondary{
    background-color: lightgray;
    color:black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.text-center{
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: .1rem lightgray solid;
    border-radius: 0.5rem;
    list-style-type: none;
}

.form-container li{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input{
    padding: 1rem;
    border: .1rem lightgray solid;
    border-radius: 0.5rem;
}

/* Checkout Steps */

.checkout-steps{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;

  }
  .checkout-steps > div{
    border-top: .3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    padding-top: 1rem;
  }
  .checkout-steps > div.active{
    border-top: .3rem #f08000 solid;
    color: #f08000;
  }

/* Place Order */

.placeorder{
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.placeorder-info{
  flex: 3 1 60rem;
}
.placeorder-action{
  flex: 1 1 20rem;
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div{
  border: .1rem #c0c0c0 solid;
  border-radius: .5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}
.placeorder-info > div:first-child{
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child{
    font-size: 2rem;
    font-weight: bold;
    color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/*Confirmation Page*/

div.greatings-message{
    border: none;
    text-align: center;
    background-color: olive;
    color: white;
}

/*brandDetails*/

div.brand-list-name{
    border: 0.1rem black solid;
    background-color: darkolivegreen;
    color:white;
    position: relative;
    left: 40%;
    top: 1.2rem;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 30rem;
    font-size: 5rem;
}

.brand-details-1{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/tgTtd19b/adidas-wallpaper.png);
    background-position: center center;
    opacity: 0.1rem;
    /* height: 100rem; */

}

.brand-details-2{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/dtW0knt5/converse-wallpaper.png);
    background-position: center center;
    opacity: 0.1rem;
}

.brand-details-3{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/FR4YhRDc/nbwlppr.png);
    /* background-position: center center; */
    opacity: 0.1rem;
}

.brand-details-4{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/4yqnnktk/nikewallpaper.png);
    /* background-position: center center; */
    opacity: 0.1rem;
}

.brand-details-5{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/6Q3CqMrf/reebokwalpaper.png);
    /* background-position: center center; */
    opacity: 0.1rem;
}

.brand-details-6{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/QCD12dKY/pumawallpaper.png);
    /* background-position: center center; */
    opacity: 0.1rem;
}

.brand-details-7{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/kGDf5yyR/jordan-walpaper.png);
    /* background-position: center center; */
    opacity: 0.1rem;
}

.brand-details-8{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/Yq7qWyFH/vans-wallpaper.png);
    /* background-position: center center; */
    opacity: 0.1rem;
}

.brand-details-9{
    margin-top: -1rem;
    align-self: center;
    background-image: url(https://i.postimg.cc/vm0ngphq/asics-wllppr2.png);
    /* background-position: center center; */
    opacity: 0.1rem;
}




/*Styling landing page*/
.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    background-image: url(https://i.postimg.cc/50LM3Gk1/main-background.jpg);
    margin: 0;
    margin-left: -3.5rem;
}

.landing-page li{
/* background-color: gray; */
/* margin: 1rem; */
    list-style-type: none;
    padding: 2rem;
    flex: 0 1 42rem;
    filter: drop-shadow(0.3rem 0.3rem 4rem #0033cc);
    /* height: 36rem; */
}

.landing-page li:hover{
    /* background-color: gray; */
    /* margin: 1rem; */
        list-style-type: none;
        padding: 2rem;
        flex: 0 1 42rem;
        filter: drop-shadow(0.3rem 0.3rem 4rem white);
        transition: 0.5s;
        /* height: 36rem; */
    }


.landing-page img{
    width: 100%;
    height: 35rem;
    border: 0.3rem solid #0033cc;
}

.landing-page img:hover{
    width: 100%;
    height: 35rem;
    border: 0.3rem solid white;
    transition: 0.5s;
}
